* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  
  --bg-color: #ffffff;
  --bg-card-color: #e1e1e6;
  --bg-card-color-select: #02799d;

  --fc-primary: #FFFFFF;
  --fc-secondary: #323238;
}

body {
  background-color: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--fc-secondary);
  display: grid;
  min-height: 100vh;
  transition: all 0.3s;
}

main{
  display: flex;
  align-self: top;
  justify-self: center;
  gap: 19rem;
}

#timer{
  font-size: clamp(12.6166rem, 4rem + 10vw, 8.8rem);
  line-height: 148px;
  font-weight: 500;
  display: flex;
}

.hide{
  display: none;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.play svg path,
.pause svg path,
.stop svg path,
.plus svg path,
.less svg path,
.forest svg path,
.rain svg path,
.coffee svg path,
.fire svg path{
  fill: var(--fc-secondary);

  transition: all 0.1s;
}

#models{
  display: grid;
  grid-template-areas: 'A B' 'C D';
  align-self: start;
  gap: 3.2rem;
}

#models button {
  background-color: var(--bg-card-color);
  padding: 4.8rem;
  border-radius: 24px;
  display: grid;
}

#controls {
  background-color: var(--primary-color);

  display: flex;


  gap: 3.2rem;
  border-radius: 9999px;
  text-align: center;
}

.theme-light,
.theme-dark {
  position: absolute;
  top: 6rem;
  right: 6rem;

  border: none;
  background-color: transparent;
}
