* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;

  --ff-primary: 'Poppins', 'sans-serif';
  --text-color: #303030;


  --color-primary: rgba(9, 45, 56, 1);;
  --color-secondary: rgba(6, 22, 27, 0.5);
  --color-third: rgb(6, 24, 28);
  --color-primary-btn: #065E7C;
  --color-secondary-btn: #FFFFFF;
}

body{
  font-size: 1.6rem;
  background: black;
}

body *{
  font-family: var(--ff-primary);
  color: #FFFFFF;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  width: 1000px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7rem 0 8rem;

}

.search {
  display: flex;
  align-items: center;
  gap: .8rem;

}

.search input{
  padding: 0 .8rem;
  height: 4.8rem;
  width: 46rem;
  border: none;
  border-radius: .5rem;
  background-color: var(--color-secondary);
}

.search button{
  background-color: var(--color-primary-btn);
  height: 4.8rem;
  width: 17rem;
  border-radius: .5rem;
  padding: 0 1rem;
  border: none;
  gap: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase; 
}


.search button:hover{
  background-color: var(--color-secondary-btn);
  color: var(--color-primary-btn);
}
.search button:hover svg path{
 fill: var(--color-primary-btn);
}

table{
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #4A808C;
  border-radius: 1.2rem 1.2rem 0 0 ;
  overflow: hidden;
}

table tr:nth-child(odd){
  background-color: var(--color-secondary);
}
table tr:nth-child(even){
  background-color: var(--color-third);
  border: 1px solid #4A808C;
}

table th:first-child {
  border-radius: 12px 0 0 0;
}

table th:last-child {
  border-radius: 0 12px 0 0;
}

table th {
  background-color: var(--color-primary);
  text-align: left;
  font-weight: normal;
  padding: 1.5rem;
}

table td {
  padding: 1.5rem;
  text-align: left;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
  font-weight: normal;
 
 }
 
 td.user a p {
  font-weight: bold;
}
 
 td .remove{
   background: none;
   border: none;
   color: red;

   cursor: pointer;
}

.none-users {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40rem;
  gap: 6rem;
  background-color: var(--color-secondary);
  border-radius: 0 0 12px 12px;
}

.hide {
  display: none;
}